# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pythonlibs/
.upm/

# Virtual environments
.env
.venv/
venv/
env/

# IDE/editor configs
.vscode/
.idea/

# Logs & misc
*.log
*.sqlite3

# Replit

# OS files
.DS_Store
Thumbs.db
